## .NET
bin/
obj/
out/

## Visual Studio
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

## Rider / VS Code
.idea/
.vscode/

## Build results
[Dd]ebug/
[Rr]elease/
x64/
x86/
[Bb]uild/

## NuGet
*.nupkg
**/packages/*
!**/packages/build/

## Otros
*.log
*.tmp
.DS_Store
Thumbs.db
